<!-- Embedded JavaScript -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Blog</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script type="text/javascript" src="/javascripts/jquery-1.12.3.min.js"></script>
    </head>
    <body>
        <h1>
            <%= title %>

        </h1>
        <nav>
            <% if(user) {%>
            <span>
                <a title="Index" href="/" style="font-weight: bold"><%= user.name %></a>
            </span>
            <span>
                <a title="Mine" href="/user">我的</a>
            </span>
            <span>
                <a title="Upload" href="/upload">上传</a>
            </span>
            <span>
                <a title="Post" href="/book">发布</a>
            </span>
            <span>
                <a title="Archive" href="/archive">书目</a>
            </span>
            <span>
                <a title="Tags" href="/tags">标签</a>
            </span>
            <span>
                <a title="feeling" href="/links">感悟</a>
            </span>
            <span>
                <a title="appellation" href="/level">积分</a>
            </span>
            <span>
                <a title="rule" href="/rule">规则</a>
            </span>
            <span>
                <form action="/search" method="get">
                    <input type="text" name="keyword" title ="Search+Enter" placeholder="书名+回车" class="search" />
                </form>
            </span>
            <span>
                <a title="logou" href="/logout">退出</a>
            </span>
            <%
                } 
                           else {
            %>
            <span>
                <a title="login" href="/login">登录</a>
            </span>
            <span>
                <a title="register" href="/reg">注册</a>
            </span>
            <%}%>
        </nav>
        <article>
            <% if(success) {%>
            <div><%= success %></div>
            <% } %>
            <% if(error) {%>
            <div><%= error %></div>
            <% }%>

