<!-- Embedded JavaScript -->
<%-include header%>

<ul style="list-style: none">
    <li>
        <h3>
            各位观众！五条艾斯！
        </h3>
        <img src="/images/5a.jpg" alt="星爷" />
    </li>
</ul>

<%-include footer%>