<!-- Embedded JavaScript -->
<%- include header %>


<h3>高尔基说：书籍是人类进步的阶梯，Look！楼下正在进步呢！</h3>
<img src="/images/logo.jpg" alt="logo" />
<ul>
    <li>0.我们都是从0开始的</li>
    <li>1.左上角的就是您了</li>
    <li>2."我的"是您发布过的书</li>
    <li>3.如果想上传书，点"上传"</li>
    <li>4.上传成功后，就用"发布"吧，发布1本书，就可以获得1分哦</li>
    <li>5.要想看所有的书，就去"书目"</li>
    <li>6.要想根据书签找书，点"标签"</li>
    <li>7.精彩的故事，总是在关键的时候甩出5条A</li>
    <li>8.想知道自己的积分和修为排名吗，点击"积分"一下</li>
    <li>9.需要分才能下载的书，扣多少分就给书籍所有人多少分，重复下载不扣分</li>
    <li>10."书名+回车"，立即查询您想要的书</li>
    <li>11.现在想休息一下，为了安全点下"退出"</li>
</ul>

<%- include footer %>